.customYellow {
  background-color: #FFE799;
  transition: background-color 0.3s ease;
}

.customBlue {
  background-color: #add8e6;
  transition: background-color 0.3s ease;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.min-h-screen {
  min-height: calc(100vh - 4rem); /* Assuming nav and footer are each 4rem tall */
}
